#buzos, #sweaters, #camperas{
    color: $ColorSecundario;
    margin-top: 40px;
    font-family: $TipografiaPrimaria ;
    font-weight: 900;
    text-shadow: white 1px 2px 5px;
}
aside h5{
    color: map-get($txt-home-tarj , color-fuente);
    margin-top: map-get($txt-home-tarj , margen-arriba );
    font-family: $TipografiaPrimaria ;
    font-weight: 700;
    text-shadow: #5e5e5e 5px 1px 20px;
}
.descripcion{
    color: map-get($txt-home-tarj , color-fuente);
    margin-top: map-get($txt-home-tarj , margen-arriba );
    font-family:$TipografiaSecundaria;
    font-size: 16px;
    font-weight: 500;
}

.foto-prod-home{
    transition: transform .9s; 
    border-radius: 15px;
    box-shadow:$ColorSecundario 5px 5px  15px 1px;
}

.foto-prod-home:hover{
    transform: scale(1.04);
}

@media (max-width: 575px){
    .foto-prod-home-sec{
        display: none;
    }
}

@media (max-width: 575px){
    #buzos, #sweaters, #camperas{
        margin-top: 0px;
        font-size: 19px;
        color: $ColorSecundario;
        font-family: $TipografiaPrimaria ;
        font-weight: 900;
    }

    #carousel-desk{
        display: none;
    }
}

@media (min-width: 575px){
    #carousel-mobi{
        display: none;
    }
}