.card-title{
    font-family: 'source code pro' , 'Tangerine' , monospace;
    font-weight: 900px;


}
.card-text{
    font-family: 'source code pro' , 'Tangerine' , monospace;
    font-size: 12px;
    font-weight: 200px;
}
.card-body{
    background-color: white;
}
.body-shoes{
    background-color: white;
}
