.titulo-newsletter {
    h2{
    text-align: left;
    font-family:  $TipografiaTerciaria ;
    font-size: 55px;
    margin-top: 45px;
    padding-top: 30px;
    padding-bottom: 25px;
    color: $ColorTextos;
    }
    h3{
        text-align: left;
        font-family:  $TipografiaTerciaria ;
        font-size: 40px;
        margin-top: 20px;
        padding-bottom: 25px;
        color: $ColorTextos;
    }
}
.form-newsletter{
    width: 50%;
    margin: auto;
    font-family: $TipografiaSecundaria ;
    label{
        font-family: $TipografiaSecundaria ;
        
    }
    input, select, textarea{
        background-color: rgba(252, 250, 240, 0.861);
        border-radius: 10px;
        margin-bottom: 5px;
    }
    textarea{
        width: 350px;
        font-family: $TipografiaSecundaria ;
    }
    select{
        width: 270px;
    }
    input{
        width: 218px;
    }
    .btn{
        color: $ColorPrimario;
        background-color: $ColorSecundario;
        border-radius: 10px solid 10px $ColorSecundario;
        margin: 15px 0px 15px 0px ;
    }
}
.form--newsletter{
    width: 200px;
}
.datos-newsletter{
    margin-bottom: 10px;
}


