.card-title{
    font-family: $TipografiaSecundaria;
    font-weight: 900px;
}
.card-text{
    font-family: $TipografiaSecundaria;
    font-size: 12px;
    font-weight: 200px;
}
.card-body{
    background-color: white;
}
.body-shoes{
    background-color: white;
}
