.empresa-titulo{
    text-align: center;
    font-family:  $TipografiaTerciaria;
    font-size: 45px;
    margin-top: 35px;
    padding-top: 20px;
    padding-bottom: 25px;
    color: $ColorTextos;
}
.empresa-descripcion{
    width: 80%;
    margin: auto;
    p{
        font-family: $TipografiaSecundaria;
        text-align:start;
    }
    h2, h4{
        color: $ColorSecundario;
        font-family: $TipografiaTerciaria;
        font-size: 35px;
        margin-top: 15px;
    }
}
