body{
    background-color: $ColorPrimario  ;
}
html{
    scroll-behavior: smooth;
}


nav{
    height: 120px;
    width: 100%;
    background-color: $ColorNav;
    ul li a{
        margin: 10px;
        font-size: 16px;
        text-transform: uppercase;
        font-family:  $TipografiaPrimaria;
        font-weight: 500;
    }
    ul li a:hover{
        transform: scale(1.2);
        transition: transform 1s;
    }
}
#navbarSupportedContent{
    flex-grow: inherit;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 70px;
    transform: scale(1.1);
    transition: transform 8s; 
}
.navbar-collapse{
    z-index: 10;
    background-color: $ColorNav;
    text-align:center;
    font-weight:900;
    a{
        font-size: 15px;
        
    
    }
    a:hover{
        transform: scale(1.5);
        transition: transform 1s; 
    }
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}
  
  


@media (max-width: 858px){
    nav{
        height: 72px;
        ul li a{
            margin: 10px;
            font-size: 18px;
            text-transform: uppercase;
            font-family:  $TipografiaPrimaria;
            font-weight: 500;
        }
        .logo{
            height: 45px;
            transform: scale(1.1);
            transition: transform 8s; 
        }
    }
    




}

