$ColorPrimario: #FFFDF1;
$ColorTextos: rgb(56, 54, 54);
$ColorSecundario: #73726D;
$ColorNav: #F8F9FA;

$TipografiaPrimaria: 'Source Code Pro', monospace; 
$TipografiaSecundaria: 'Roboto Condensed', sans-serif;
$TipografiaTerciaria: 'Tangerine', monospace; 