$ColorPrimario: #FFFDF1;
$ColorTextos: rgb(56, 54, 54);
$ColorSecundario: #73726D;
$ColorNav: #eef2f6;

$TipografiaPrimaria: 'Source Code Pro', monospace; 
$TipografiaSecundaria: 'Roboto Condensed', sans-serif;
$TipografiaTerciaria: 'Tangerine', monospace; 

$txt-home-tarj: (
    color-fuente :$ColorTextos,
    margen-arriba: 30px,
)